///////////////////////////////////////////////////////START COMMENT STYLES////////////////////////////////////////////////////// 
//------------------Comment list including children-------------------------
.c-comments {
    p {
        font-size: 0.9rem;
    }

    &__title {
        margin: 1.5rem 0 0 0;
        padding: 0.5rem 0.5rem 1rem 0;
        font-size: 1.3rem !important;
        color: $color-six;
    }

    &__list {
        list-style: none;
        margin: 0;

        .children {
            font-size: 100%;
            list-style: none;
            margin-left: 1rem;
        }
    }

    :target:before {
        height: 20px;
    }
}

.c-comment {
    background-color: #EAEBEB;
    //border: 1px solid $color-six;
    box-shadow: 4px -4px 8px 0px rgba(0, 0, 0, 0.05);
    padding: 2px;
    position: relative;
    $p: &;

    &--child {
        box-shadow: none;
        //border-color: $color-six;
        //border: 1px solid lightgrey;

        #{$p}__avatar {
            width: 30px;
            height: 30px;
            margin-right: 5px;
        }

        article {
            box-shadow: 4px -4px 8px 0px rgba(0, 0, 0, 0.05);
        }
    }

    .comment-respond {
        padding: 0.5rem;
        margin-bottom: 0.5rem;

        .comment-form {

            .logged-in-as a {
                color: $color-eight;
            }

            .logged-in-as a:hover {
                color: $color-four;
            }

            .logged-in-as a:nth-child(2) {
                color: $color-four;
                margin-left: 0.5rem;
            }

            .logged-in-as a:hover {
                color: $color-six;
            }

            .comment-form-comment label {
                color: $color-eight;
            }
        }
    }

    &__reply-link {
        text-align: right;

        a {
            color: $color-four;
        }

        a:hover {
            color: $color-six;
        }
    }

    &__edit-link {
        position: absolute;
        top: 25px;
        right: 10px;

        a {
            color: $color-six;
        }
    }

    &__time {
        margin: 0.25rem;
        color: $color-four;
        display: inline-block;
        border-bottom: none;
        font-size: 0.9rem;
    }

    &__body {
        display: flex;
    }

    &__avatar {
        width: 50px;
        height: 50px;
        margin: 0.5rem;
    }

    &__content {
        flex: 1;
        margin: 0.5rem;

        p {
            color: $color-eight;
            margin: 0.50rem 0.25rem 0.25rem 0.25rem;
        }
    }

    &__author {
        color: $color-eight;
        font-weight: 500;
        font-size: 1rem;
        margin: 0.25rem;
        font-family: 'Fjalla One', sans-serif !important;

        a {
            color: inherit;
            border-bottom: none;
        }
    }
}

//--------------Comment response box and input-----------------
.comment-respond {
    margin-top: 1rem;

    .comment-reply-title {
        padding: 0;
        font-size: 1.3rem !important;

        #cancel-comment-reply-link {
            color: $color-four;
            font-size: 0.75em;
            margin-left: 0.5rem;

            &:hover {
                color: $color-six;
            }
        }
    }

    .comment-form {

        .logged-in-as {
            margin: 0.5rem 0.5rem 1rem 0;
        }

        .comment-form-comment {
            label {
                padding: 0.5rem 0;
            }
        }

        .comment-form-author,
        .comment-form-comment,
        .comment-form-email,
        .comment-form-url,
        .comment-form-cookies-consent {
            label {
                padding: 0.5rem 0 0.5rem 0;
                color: $color-six;
            }
        }


        .form-submit {
            margin-top: 0.75rem;
            border-radius: 0.7rem;
            padding: .5rem 1.5rem;
            margin-bottom: 1rem;
            border: solid 2px $color-white;
            background-color: transparent;
            @include button-hover;
            display: inline-block;

            input {
                //     border-radius: 0.7rem;
                padding: 0;
                margin-bottom: 0;
                border: none;
                color: $color-white;
                background-color: transparent;
            }

            // input:hover {
            //     border: solid 2px $color-white;
            //     color: $color-white;
            // }
        }
    }
}

.comment-notes {
    color: $color-four;
}

///////////////////////////////////////////////////////END COMMENT STYLES////////////////////////////////////////////////////// 