@import "config";

@include mediaLg {

    /*-------From desktop.scss------*/
    ///////////CARD SECTION IMAGES///////////////////////
    //Responsive image classes for card sections
    .attachment-card-style {
        height: 37vh;
    }

    .card-section {
        min-height: 20vh;
    }
}


/*-------tablet.scss------*/
@include mediaMd {

    ///////////CARD SECTION IMAGES///////////////////////
    //Responsive image classes for card sections
    .attachment-card-style {
        display: block;
        height: 32vh;
    }

    .card-section {
        min-height: 17vh;
    }
}

/*-------mobile.scss------*/

//----------------------Responsive image classes for card sections--------------------
.attachment-card-style {
    display: block;
    height: 45vh;
    float: right;
}

//------------------Responsive image class for schedule card section----------------
.attachment-gradient-img-style {
    display: block;
    height: 30vh;
    width: auto;
}

.card-section {
    /*Image control - use wp array*/
    min-height: 20vh;
}