@import "config";

//BEGINNING NAVIGATION MENU STYLES====================================================================================================
$color-black: rgba(0, 0, 0, 0.9);

.off-canvas {
    background-color: $color-black;
    width: 100%;
}

.off-canvas.is-transition-overlap {
    z-index: 200;
}

.top-bar-container,
.off-canvas {
    font-family: 'Fjalla One', sans-serif;

    a {
        color: $color-white;

        &:hover {
            color: $color-six;
        }
    }

    .menu {

        li {
            button {
                color: $color-six;
            }
        }
    }
}

.menu input {
    margin-bottom: 10px !important;
}

.title-bar {
    background: $color-nav;

}

.sticky-nav {
    width: 100%;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 100;
}

//The following class is applied by JS to fix the top menu to the top, however I (Alex) have commented it because I achieved the same thing
//just with css (class above, sticky-nav). You will find that the JS code in app.js is commented too.
//Youtube tutorial followed: https://youtu.be/wWzaqAa9bf0
// .sticky-navbar {
//     position: fixed;
//     top: 0;
//     width: 100%;
//     z-index: 100;
// }

// style x to close the off-canvas part
.close-button {
    font-size: 1em;

    &:hover {
        color: white;
    }
}

//Mobile logo styles
#mobile-logo {
    width: 150px;
}


//Dropdown styles
.multilevel-accordion-menu {

    // background for sub accordion items
    .is-accordion-submenu a {
        background: $color-eight;
    }

    .is-accordion-submenu-parent>a {
        position: relative;
    }

    .is-accordion-submenu-parent>a::after {
        display: block;
        width: 0;
        height: 0;
        border: inset 6px;
        content: '';
        border-bottom-width: 0;
        border-top-style: solid;
        border-color: $color-white transparent transparent;
        position: absolute;
        top: 50%;
        margin-top: -3px;
        right: 1rem;
    }

    .is-accordion-submenu-parent[aria-expanded='true']>a::after {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }

    // creates classes for nested elements, sub-item-*
    @for $i from 1 through 6 {
        .sublevel-#{$i} {
            text-indent: 0rem + $i;
        }
    }

    a {
        color: $color-white;
        // sets accodion item separator color
        box-shadow: inset 0 -1px $color-nine;

        &::after {
            // sets accodion arrow color and direction
            border-color: $color-white transparent transparent;
        }
    }

    // padding for each list item
    .menu>li:not(.menu-text)>a {
        padding: 1rem 1rem;
    }
}

//Navigation on single post
.post-navigation {
    min-width: 28rem;

    .nav-links {
        display: flex;
        justify-content: space-around;
        align-content: center;
    }
}

//END NAVIGATION MENU STYLES =================================================================================================================