/*Set the fonts*/

@font-face {
  font-family: "Fjalla One", sans-serif;
  /* src: url('https://fonts.googleapis.com/css?family=Fjalla+One'); */
  src: url('../src/assets/fonts/FjallaOne-Regular.ttf');
}


/*Set background image*/
body.login {
  background-image: url("../src/assets/img/perth_cbd.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;  
  padding-top:50px;
  box-sizing: border-box;
}

/*Set logo*/
#login h1 a {
  background-image: url("../src/assets/img/boom_favicon.svg");
  background-size: 75px;
}

.login form {
  padding: 20px;
}

/*Login form background*/
#login {
  background: #fff;
  margin: auto;
  padding: 1rem 1rem;
  width: 320px;
  border-radius: 5px;
  font-family: "Fjalla One", sans-serif;
}

/*Form label styling*/
.login label {
  color: #555;
  font-size: 0.9rem;
}

.login form .forgetmenot {
  float: none;
}

/*Centre from links*/
.login #backtoblog,
.login #nav {
  text-align: center;
}

.login #nav a:hover,
.login #backtoblog a:hover {
  color: #eb5b27;
}

#login form p.submit {
  margin-top: 15px;
}

/*Control submit button styling*/
.login.wp-core-ui .button-primary {
  background: white;
  border: 2px solid #eb5b27;
  border-radius: 5px;
  box-shadow: none;
  color: black;
  text-shadow: none;
  float: none;
  clear: both;
  display: block;
  width: 100%;
  padding: 7px;
  height: auto;
  font-size: 15px;
}

.button-primary:hover {
  color: white;
  background: #eb5b27;
}

/*Error message border*/
.login #login_error,
.login .message,
.login .success {
  border-left-color: #eb5b27;
}